.content {
    width: 90%;
    margin: 1rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    font-weight: 500;
    color: black;
}

button {
    margin-bottom: 1rem;
    background-color: gray;
    color: white;
}

.table {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.id-container {
    width: 3rem;
    padding:0;
    text-align: center;
}

.name-container {
    width:15rem;
    padding:0;
    text-align: center;
}

.desc-container {
    width: 15rem;
    padding:0;
    text-align: center;
}

.books-container {
    width: 5rem;
    padding:0;
    text-align: center;
}

.act-container {
    width: 5rem;
    padding:0;
    text-align: center;
}

.book {
    color: gray;
    margin-left: 0.3rem;
}

.edit {
    color: gray;
    margin-right: 0.5rem;
}

.delete {
    color: gray;
    margin-left: 0.5rem;
}

.actions-header {
    width: 5rem;
    
}